<% if resource.errors.any? %>
  <div class="flash">
    <div class="message error">
      <% resource.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  </div>
<% end %>
